<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Result</title>
        <!-- // In this context '~' refers to the wwwroot folder -->
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <h1>Submitted Info</h1>
        <p>Name: @ViewBag.name</p>
        <p>Dojo Location: @ViewBag.Location</p>
        <p>Favorite Language: @ViewBag.Language</p>
        <p>Comment: @ViewBag.comments</p>
        
        <button type="submit">Go back</button>
    </body>
</html>